RewriteEngine On 
#RewriteBase / 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule (.*) index.php/$1
php_value max_file_uploads 1000
php_value date.timezone 'Asia/Jakarta'